<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                {{#eq user.cargo "administrador"}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Administrador</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Cliente</a>
                </li>
                {{/eq}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Registrate</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>